.App {
  text-align: center;
  padding:2rem;
}
.alls{
  float: left;
  font-size: 2rem;
  color: gray;
  text-decoration: none;
  
}
.shopping-cart-btn{
  float: right;
  padding: 0.95rem;
}
.btn-secondary{
  margin-left: 0rem;
}
.datatable{
 padding: 2rem;
}
.countNum{
  padding: 0rem 1rem 0rem 1rem;
}
.cartlist-tb{
  text-align: center;
  padding:2rem;
  margin: 0 auto;
}
.noitems{
  text-align: center;
  font-size: 1.5rem;
  color: rgb(189, 189, 189);
  padding: 7rem 0rem 0rem 0rem;

}