.App {
  text-align: center;
  padding:2rem;
}
.wrapper{
  background-color: black;
}

.alls{
  text-align: left;
  font-size: 2rem;
  color: gray;

}
.shopping-cart-btn{
  float: right;
  padding: 0.95rem;
}
.btn-secondary{
  margin-left: 2rem;
}
.datatable{
 padding: 2rem;
}
