.App {
  text-align: center;
  padding:2rem;
}
.alls{
  text-align: left;
  font-size: 2rem;
  color: gray;

}
.shopping-cart-btn{
  float: right;
  padding: 0.95rem;
}
.btn-secondary{
  margin-left: 0rem;
}
.datatable{
 padding: 2rem;
}
.countNum{
  padding: 0rem 1rem 0rem 1rem;
}